{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/main.css' %}">
    <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
    </style>
    <meta charset="UTF-8">
    <title>Welcome to My Site. GuestBook!</title>

</head>
<body>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>Welcome to my site!</h1>

        </div>


    </div>
</body>
</html>